.img-box{
  width:140px;
  height:140px;
  border:1px dashed #999;
  border-radius:10px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  background:#fafafa;
}
.img-box img{
  max-width:100%;
  max-height:100%;
  object-fit:contain;
}
